@model IList<Student>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Students")
}) />

<h3 class="mb-3">Student List</h3>

<a class="btn btn-sm btn-primary my-3" asp-controller="Student" asp-action="Create" >Create</a>     

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model) {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Course</td>
                <td>@s.Age</td>
                <td>
                    <!-- Add View link -->
                    <a title="view student details" asp-controller="Student" asp-action="Details" asp-route-id=@s.Id>View</a>  
                    <!-- Add edit link  -->
                    <a asp-controller="Student" asp-action="Edit" asp-route-id=@s.Id>Edit</a>
                    <!-- Add delete link -->
                    <a asp-controller="Student" asp-action="Delete" asp-route-id=@s.Id>Delete</a>
                </td>
            </tr>
        }        
    </tbody>
</table>