@model IList<Ticket>

<h3>Open Ticket List</h3>

<div class="mt-4 mb-4">
   <!-- TBC - add an action link styled as a button to navigate to Create Action -->
   <!--       consider supplementing the button text with a suitable icon        -->  
  
</div>

<!-- TBC - add a table to display all open tickets and in each tickets action   -->
<!--       column add a Close ticket button wrapped in a form to close a ticket -->


